# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
timeline.xctimeline
playground.xcworkspace/

# Local scratch space
tmp/
temp/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
